<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

${include 'head.html'}

<body ${page.sidebar != false ? '' : "class='no-sidebar'"}
  ${page.sidebar == 'collapse' || site.sidebar == 'collapse' ? "class='collapse-sidebar sidebar-footer'" : ''} >
  <header role="banner">${include 'header.html'}</header>
  <nav role="navigation">${include 'navigation.html'}</nav>
  <div id="main">
    <div id="content">
      ${content}
    </div>
  </div>
  <footer role="contentinfo">${include 'footer.html'}</footer>
  ${include 'after_footer.html'}
</body>

</html>
