.social {
  h1 {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 0px none !important;
  }
  a {
    text-decoration: none;
    white-space: normal !important;
    line-height: 32px;
    vertical-align: top;
    img {
      float: left;
      margin-right: 0.5em;
      border: 0 none;
    }
    .icon {
      width: 32px;
      height: 32px;
      display: inline-block;
      &.fb-icon {
	    background-image: url("${r '/images/facebook_icon_32.png'}");
      }
      &.insta-icon {
        background-image: url("${r '/images/instagram_icon_32.png'}");
      }
      &.twitter-icon {
        background-image: url("${r '/images/twitter_icon_32.png'}");
      }
      &.gplus-icon {
        background-image: url("${r '/images/googleplus_icon_32.png'}");
      }
    }
  }
}