#tweets {
	p {
		position: relative;
		padding-right: 1em;
	}
	a[href*=status]:first-child {
		color: #9aa1af;
		float: right;
		padding: 0 0 .1em 1em;
		position: relative;
		right: -1.3em;
		text-shadow: #fff 0 1px;
		font-size: .7em;
		text-decoration: none;
	}
}
