<%
  def postedOn = dateCreated(page)
  def updatedOn = lastUpdated(page)
  def when = page.when

  final String monthFormat = 'MMM'
  final String yearFormat = 'yyyy'
  final String dayFormat = 'dd'
%>

<% if (when == 'posted') { %>
    <time datetime="${toXmlTime(postedOn)}" pubdate ${ updatedOn != postedOn ? 'data-updated=true' : '' }>
      <span class="month">${postedOn.format(monthFormat)}</span>
      <span class="day">${postedOn.format(dayFormat)}</span>,
      <span class="year">${postedOn.format(yearFormat)}</span>
    </time>
  <% } %>

<% if (when == 'updated' && updatedOn) { %>
     <time datetime="${toXmlTime(updatedOn)}" class="updated">
       Updated
       <span class="month">${updatedOn.format(monthFormat)}</span>
       <span class="day">${updatedOn.format(dayFormat)}</span>,
       <span class="year">${updatedOn.format(yearFormat)}</span>
     </time>
<% } %>