<%
  def postedOn = page.date
  def updatedOn = page.updated
  def when = page.when

  final String monthFormat = 'MMM'
  final String yearFormat = 'yyyy'
  final String dayFormat = 'dd'
%>

<% if (when == 'posted') {
    Date postedDate = Date.parse(site.dateTimeFormat, postedOn) %>
    <time datetime="${toXmlTime(postedDate)}" pubdate ${ updatedOn != postedOn ? 'data-updated=true' : '' }>
      <span class="month">${postedDate.format(monthFormat)}</span>
      <span class="day">${postedDate.format(dayFormat)}</span>,
      <span class="year">${postedDate.format(yearFormat)}</span>
    </time>
  <% } %>

<% if (when == 'updated' && updatedOn) {
     Date updatedDate = Date.parse(site.dateTimeFormat, updatedOn) %>
     <time datetime="${toXmlTime(updatedDate)}" class="updated">
       Updated
       <span class="month">${updatedDate.format(monthFormat)}</span>
       <span class="day">${updatedDate.format(dayFormat)}</span>,
       <span class="year">${updatedDate.format(yearFormat)}</span>
     </time>
<% } %>