<% def quote = page.quote %>

<blockquote>
    <p>${quote.content}</p>
    <footer>
        <% if (quote.author) { %>
            <strong>${quote.author}</strong>
        <% } %>
        <% if (quote.sourceLink || quote.sourceTitle) { %>
            <cite>
                <% if (quote.sourceLink) { %>
                    <a href="${quote.sourceLink}" target="_blank">${quote.sourceTitle?: quote.sourceLink}</a>
                <% } else { %>
                    ${quote.sourceTitle}
                <% } %>
            </cite>
        <% } %>
    </footer>
</blockquote>